.main {
  width: 100%;
  margin: 0 auto;
}

.main-context {
  padding-top: 30vh;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.pills {
    padding: 10px;
    display: inline-flex;
}

.pills-container {
    width: 32px;
    overflow: hidden;
    line-height: 1;
    margin: 10px 20px;
}

.pill-red {
    color: var(--pill-red);
}

.pill-blue {
    color: var(--pill-blue);
}

i.pill-red, i.pill-blue {
    font-size: 5em;
}